package controllers

import (
	"github.com/murz/ego/http"
)

type {{Name}} struct {
	{{Embed}}
}

func (c {{Name}}) Index() *http.Response {
	// TODO: Implement this action.
	return http.NotImplemented;
}