package main

import (
	"github.com/murz/ego"
        {{#HasActions}}
	"github.com/murz/ego/http"
	"reflect"
	"{{ Name }}/app/controllers"
        {{/HasActions}}
	"{{ Name }}/conf"
)

func main() {
	{{#Actions}}
	http.RegisterAction("{{ Controller }}.{{ Name }}", reflect.TypeOf(controllers.{{ Controller }}{}), []string{
		{{#ContextKeys}}
			"{{ Value }}",
		{{/ContextKeys}}
	}, map[string]string{
		{{#Fields}}
			"{{ Key }}": "{{ Value }}",
		{{/Fields}}
	})
	{{/Actions}}
	conf.Routes()
	conf.Databases()
	var s = ego.NewServer("{{ Name }}")
	s.Run()
}
